# These will be updated by the transfer-agent-config-files script.
mmsGroupId=REPLACE_MMSGROUPID
mmsApiKey=REPLACE_MMSAPIKEY
mmsBaseUrl=REPLACE_MMSBASEURL

# Added to support SSL connections to Ops Manager
httpsCAFile=/etc/mongodb-mms/opsmgrCA.pem

#
# Path to log file
#
logFile=/var/log/mongodb-mms-automation/automation-agent.log

#
# Path to backup cluster config to
#
mmsConfigBackup=/var/lib/mongodb-mms-automation/mms-cluster-config-backup.json

#
# Lowest log level to log.  Can be (in order): DEBUG, ROUTINE, INFO, WARN, ERROR, DOOM
#
logLevel=INFO

#
# Maximum number of rotated log files
#
maxLogFiles=10

#
# Maximum size in bytes of a log file (before rotating)
#
maxLogFileSize=268435456

#
# URL to proxy all HTTP requests through
#
#httpProxy=

# For additional optional settings, please see
# https://docs.opsmanager.mongodb.com/current/reference/mongodb-agent-settings/index.html
